* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
}

.border-1 {
    background-color: black;
    padding: 24px 0px;
}

.red-1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    background-color: #00ffff;
}

.red-2 {
    width: 75%;
}

h3 {
    text-align: center;
    color: darkviolet;
    padding: 12px;
}

.get {
    text-align: center;
    color: coral;
    background-color: black;
    margin-left: auto;
    padding: 12px;
}

.p-1 {
    text-align: center;
    color: red;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

.p-2 {
    text-align: center;
    color: blueviolet;
    padding: 12px;
    background-color: greenyellow;
    border-radius: 24px;
    margin-left: auto;
    margin-bottom: 0px;
}

.red-3 {
    display: inline-block;
    background-color: rgb(9, 0, 48);
    margin-left: auto;
    margin-right: auto;
}

.border-2 {
    background-color: aqua;
    padding: 24px 0px;
}

.border-3 {
    background-color: black;
    padding: 24px 0px;
}

.blue-1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    background-color: black;
}

.blue-2 {
    display: inline-block;
    width: 65%;
    text-align: center;
    padding: 12px;
}

.blue-3 {
    display: inline-block;
    background-color: rgb(9, 0, 48);
    margin-left: auto;
    margin-right: auto;
}

.get-1 {
    background-color: coral;
}

.one {
    color: red;
    padding:12px;
    background-color: black;
}

.grab {
    color: aquamarine;
    background-color: rgb(32, 12, 99);
    padding: 12px;
    border-radius: 50%;
}

.border-3 {
    background-color: lightcoral;
}

.pear-1 {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
}

.pear-2 {
    width: 70%;
}

.pear {
    background-color: black;
}

.pear-3 {
    background-color: black;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.get-2 {
    color: lightseagreen;
}

.one-1 {
    background-color: blueviolet;
    padding: 8px;
    color: rgb(9, 255, 0)
}

.grab-2 {
    background-color: red;
    color: white;
    padding: 12px;
    border-radius: 50%;
}
     
.small-border {
    background-color: darkred;
}