* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

#navbar a {
    text-decoration: none;
    color: red;
    padding: 24px;
    transition: color 0.8s;
    font-weight: bold;
    font-size: 24px;
}

#navbar a:hover {
    color: white;
}

#navbar p {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

#navbar #logo {
    margin-right: auto;
    transition: opacity 0.8s;
}

#navbar #logo:hover {
    opacity: 50%;
}

#navbar #logo img {
    width: 150px;
}

.center-column {
    width: 80vw; 
    margin: 0px auto;
}

#footer {
    background: black;
    color: red;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar a {
    display: block;
    padding: 8px 0px;
}

/*
    Layout setup and configuration
*/
#layout {
    width: 70%;
    margin: 48px auto;
    font-size: 24px;
}

#layout p {
    margin-top: 20px;
    margin-bottom: 50px;
}

#layout h1 {
    text-align: center;
}

#layout img {
    width: 40vh;
    margin-right: 20px;
}

#flex {
    display: flex;
}

#text p {
    margin-top: 0px;
}

#contact-container {
    Height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#contact-left {
    border: solid 4px black;
    border-radius: 2%;
}

.contact-left-title h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 10px;
}

.contact-left-title hr {
    margin-bottom: 20px;
    width: 220px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: red;
    height: 5px;
}

.contact-inputs {
    width: 600px;
    height: 80px;
    border: none;
    padding-left: 25px;
    font-weight: 800;
    border-radius: 50px;
}

.contact-left textarea {
    height: 100px;
    Padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    color: red;
}

.contact-inputs::placeholder {
    color: black;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    gap: 10px;
    border-radius: 50px;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: red;
    background-color: black;
    cursor: pointer;
}

button:hover {
    color: white;
}