/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Domine:wght@400..700&family=Heebo:wght@100..900&family=Kalam:wght@300;400;700&family=Quintessential&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
#content {
    margin: 20px;
    background: linear-gradient(45deg, #f067f07e, #7070f1f5);
    border-radius: 16px;
    padding: 16px;
}

#license {
    width: 700px;
    border-radius: 12px;
    margin: 0%;
}

h1 {
    margin: 0px;
    padding-left: 12px;
    padding-top: 16px;
    font-size: 50px;
    color: white;
}

#left-side {
    display: inline-block;
    width: 66%;
}

h4 {
    background-color: blue;
    padding: 4px;
    color: white;
    margin: 0px;
    text-align: center;
    font-size: 25px;
}

#id-and-expiration div {
    display: inline-block;
    margin-right: 52px;
    padding: 4px;
    margin-bottom: 8px;
    color: yellow;
}

#id-and-expiration span {
    color: #0000bb;
}

#address {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    color: #0000bb;
}

#personal-info {
    flex-direction: row;
}

#small-pic {
    display: inline-block;
    opacity: 30%;
}

#small-pic img {
    width: 80px;
}

#data-fields {
    display: inline-block;
}

#data-left {
    display: inline-block;
    padding: 8px;
    color: yellow;
}

#data-left span {
    color: #0000bb;
}

#data-right {
    display: inline-block;
    padding: 8px;
    color: yellow;
}

#data-right span {
    color: #0000bb;
}

#signature {
    text-align: center;
    padding: 4px;
    margin-top: 4px;
    font-family: Tangerine;
    font-size: 30px;
    color: white;
}

#right-side {
    display: inline-block;
    text-align: center;
}

#donor-1 {
    height: 220px;
}

#real-id {
    display: inline-block;
    color: yellow;
    background-color: #a104a1;
    border-radius: 50%;
    font-size: 24px;
    margin-left: 24px;
    margin-top: 4px;
    margin-bottom: 8px;
}

#donor {
    display: inline-block;
    color: #0000bb;
    font-size: 16px;
}