* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}

#sidebar-content {
    background-color: cadetblue;
    width: 250px;
    padding: 24px;
    border-right: 2px solid darkblue;
}

#sidebar-content h3 {
    border-bottom: 2px solid darkblue;
    padding-bottom: 8px;
}

#sidebar-content h2 {
    border-bottom: 2px solid black;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-content ul a {
    color: blue;
    text-decoration: none;
}

#sidebar-content ul li {
    padding: 4px 0px;
}

#main-content {
    flex: 1;
    padding: 48px;
}

#main-content h1 {
    border-bottom: 2px solid black;
}

#main-content h2 {
    border-bottom: 2px solid black;
}

#image-column img {
    display: flex;
    margin: 12px 0px;
    /* border: solid darkmagenta 4px; */
}

#image-column-2 {
    /* border: solid 4px darkgoldenrod; */
}






   
    


