* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin: 85px;
}

#cards-container1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card1 {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card1 a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}

.card1 .card-content:hover a {
    box-shadow: 4px 4px 4px black;
}

.card1:hover {
    background-color: lightcyan;
    box-shadow: 4px 4px 4px black;
    transform: translateY(-4px);
}

.card1 .card-content {
    transition: box-shadow 0.5s;
}

.card1 {
    transition:
     background-color 0.5s,
     box-shadow 0.5s,
     transform 0.5s;
}

.card2 {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    background-color: blanchedalmond;
    transition: background-color 0.5s;
}

.card2:hover {
    background-color: transparent;
}

.card2 a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}

.card2 a {
    transition: 
        backgorund-color 0.5s,  
        box-shadow 0.5s,
        transform 0.5s;
}

.card2:hover a {
    background-color: aquamarine;
    box-shadow: 4px 4px 4px black;
    transform: translateY(-4px);
}

.card3 {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card3 a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}

.card3 .card-content p {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    background-color: aqua;
    border-radius: 12px;
    padding: 12px;
    transition: 
        opacity 05s,
        visibility 0.5s,
        transform 0.5s;
}

.card3:hover .card-content p {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
