/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-1 {
    margin: 12px;
    box-shadow: 4px 4px 8px #00000088;
    width: 350px;
    background-color: #EFF7EB;
}

.card-style-1 h2 {
    text-align: center;
}

.card-style-1 img {
    width: 100%;
}

.card-style-1 p {
    padding: 0px 24px;
}

.card-style-1 a {
    text-align: center;
    background-color: green;
    display: block;
    padding: 24px;
    text-decoration: none;
    color: #EFF7EB;
    font-size: 20px;
    transition: 
        background-color 0.7s,
        color 0.7s;
}

.card-style-1 a:hover {
    background-color: transparent;
    color: purple;
}