* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(80deg, black, darkblue);
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
}

#header {
    /* background-color: lightskyblue; */
    grid-area: header;
    padding: 0px 36px;
}

#header a {
    text-decoration: none;
}

#header #me {
    color: chartreuse;
}

#header #tube {
    color: chartreuse;
    background-color: blueviolet;
    padding: 4px;
    border-radius: 12px;
}

#sidebar {
    /* background-color: lightcyan; */
    grid-area: sidebar;
    padding: 0px 24px; 
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: solid 1px #aaaaaa;
}

#sidebar ul a {
    text-decoration: none;
    color: lightgreen;
    padding: 12px;
    display: block;
}

#sidebar ul a:hover {
    background-color: black;
    border-radius: 8px;
}

#main {
    /* background-color: lightgoldenrodyellow; */
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.metube-item .moments {
    aspect-ratio: 16 / 9;
    border-radius: 16px;
    width: 500px;
    max-width: 500px;
    min-width: 100px;
}

.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: yellow;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.video-details {
    margin: 8px;
    font-size: 14px;
    color: turquoise;
}

.video-channel {
    margin-bottom: 4px;
}

.fa-solid {
    margin-right: 8px;
    color: blueviolet;
}

.fa-regular {
    margin-right: 8px;
    color: blueviolet
}