* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

h1 {
    color: blue;
}

main {
    border: 6px black solid;
    max-width: 350px;
    margin: 20px auto;
    background-color: aquamarine;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 6px;
    color: blue;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

span {
    border-bottom: solid 3px black;
}

#second {
    margin-top: 10px;
}

input::-webkit-outer-arrow-button,
input::-webkit-inner-arrow-button,
input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

input {
    border: blue solid;
    border-radius: 4px;
    font-size: 18px;
}

button {
    margin-top: 10px;
    border: blue solid;
    font-size: 22px;
    color: blue;
    background-color: white;
    border-radius: 8px;
}

#form {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 12px 4px rgb(0, 0, 0);
    padding: 10px;
    border-radius: 8px;
}

h2 {
    border: 0px solid transparent;
    transition: border-width 0.5s ease-in-out, border-color 0.5s ease-in-out;
    color: blue;
    padding: 6px 12px;
}

.animated-border {
    border: 5px solid blue;
    border-radius: 8px;
    /* Or any desired animated border style */
}