* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: yellow;
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 5px;
}