* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/pexels-erikscheel-95425.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#hero-1 span {
    font-size: 12vw;
    color: orange;
    background-color: rgba(7, 31, 63, 0.486);
}

#hero-1 h1 {
    padding-left: 10vw;
    font-size: 8vw;
    color: rgba(243, 247, 8, 0.664);
    background-color: rgba(0, 0, 0, 0.288);
}

#hero-2 {
    background-image: url("../images/pexels-ingo-609771.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#hero-2 h2 {
    font-size: 8vw;
    margin-bottom: 0px;
    margin-right: 5vw;
    margin-top: 0px;
    color: rgba(53, 243, 53, 0.747);
    background-color: rgba(0, 0, 0, 0.514);
}

#hero-2 h4 {
    font-size: 3vw;
    margin: 16vh 5vw 4vh 0px;
    color: aqua;
    background-color: rgba(128, 0, 128, 0.527);
    padding: 12px;
}

#hero-2 a {
    text-decoration: none;
    margin: 4vh;
    font-size: 2vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 24px;
}

#hero-1 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.705);
    color: yellow;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 0px 0px;
}

#hero-3 {
    background-image: url("../images/pexels-element5-1293261.jpg");
    height: 100vw;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.hero-content #join {
    position: absolute;
    top: 5%;
    left: 15%;
    font-size: 8vh;
    color: yellow;
}

.hero-content #our {
    position: absolute;
    top: 35%;
    left: 45%;
    font-size: 12vh;
    color: rgb(84, 248, 8);
}

.hero-content #arcade {
    position: absolute;
    top: 70%;
    left: 65%;
    font-size: 14vh;
    color: red;
}

.hero-content #ticket {
    position: absolute;
    top: 25%;
    left: 15%;
    font-size: 5vh;
    color: rgb(241, 91, 241);
    background-color: rgba(0, 0, 0, 0.705);
    padding: 8px;
}

.hero-content #make {
    position: absolute;
    top: 65%;
    left: 50%;
    font-size: 5vh;
    color: rgb(84, 248, 8);
    background-color: rgba(0, 0, 0, 0.678);
    padding: 8px;
}

#click {
    position: absolute;
    top: 90%;
    left: 35%;
    font-size: 5vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content a {
    text-decoration: none;
    border-radius: 24px;
}