* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/pexels-erikscheel-95425.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-1 span {
    font-size: 160px;
    color: orange;
    background-color: rgba(7, 31, 63, 0.486);
    padding: 24px;
}

#hero-1 h1 {
    font-size: 150px;
    color: rgba(243, 247, 8, 0.664);
    background-color: rgba(0, 0, 0, 0.288);
    padding: 24px;
    margin-top: 0px;
    margin-bottom: 65px;
}

#hero-1 a {
    font-size: 48px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.705);
    color: yellow;
    text-decoration: none;
    padding: 24px;
    margin-top: 65px;
}

#hero-2 {
    background-image: url("../images/pexels-ingo-609771.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#hero-2 h2 {
    margin: 0px;
    font-size: 150px;
    color: rgba(53, 243, 53, 0.747);
    background-color: rgba(0, 0, 0, 0.514);
    padding: 12px;
}

#hero-2 h4 {
    font-size: 65px;
    color: aqua;
    background-color: rgba(128, 0, 128, 0.527);
    padding: 12px;
    margin: 75px 0px;
}

#hero-2 a {
    text-decoration: none;
    font-size: 36px;
    color: white;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 24px;
    margin-bottom: 75px;
}

#hero-3 {
    background-image: url("../images/pexels-element5-1293261.jpg");
    height: 100vh;
    background-size: cover;
    background-position: top bottom;
    margin: 0px;
}

.hero-content #join {
    margin: 0px;
    text-align: center;
    font-size: 64px;
    color: yellow;
}

.hero-content #ticket {
    color: rgb(241, 91, 241);
    background-color: rgb(0, 0, 0);
    padding: 12px;
}

#click {
    color: aqua;
    background-color: rgb(0, 0, 0);
    padding: 12px;
    text-align: center;
}

.hero-content a {
    text-decoration: none;
    border-radius: 24px;
}

#cta-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    gap: 88px;
    margin-top: 95px;
}