* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/food.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#everything-container {
    margin: 24px auto;
    margin-top: 0px;
    padding: 0px;
}

.all-navbar {
    position: sticky;
    top: 0px;
}

#top-content a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
}

#top-content .hover:hover {
    background-color: black;
    color: #C8B02E;
    border-radius: 50%;
}

#top-content {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #2D3990;
}

#top-content a {
    padding: 24px;
    transition: 
        background-color 0.7s,
        color 0.7s;
}

#top-content img {
    width: 70%;
    background-color: black;
    border-radius: 55%;
}

#bottom-content {
    display: flex;
    width: 100%;
    padding-right: 24px;
    padding: 24px;
}

#navbar-bottom {
    background-color: #C8B02E;
}

#navbar-bottom a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    padding: 24px;
    font-size: 20px;
    transition: 
        background-color 0.7s,
        color 0.7s;
}

#navbar-bottom a:hover {
    background-color: #2D3990;
    color: #C8B02E;
    border-radius: 24px;
}
 
#media-container h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 32px;
    font-weight: bold;
    background-color: black;
    color: #C8B02E;
    padding: 12px;
}

#media-with-text {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-top: solid 8px #2D3990;
    border-bottom: solid 8px #2D3990;
}

#media-with-text p {
    padding: 24px;
    width: 650px;
    text-align: center;
    font-weight: bold;
    background-color:  #2D3990;
    color: white;
}

#media-with-text img {
    width: 500px;
    padding: 24px;
}

#media {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: solid 8px #2D3990;
}

#media p {
    padding: 24px;
    width: 650px;
    text-align: center;
    font-weight: bold;
}

#media img {
    width: 500px;
    padding: 24px;
}

.header2 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background-color: white;
    color: #2D3990;
    padding: 12px;
}

.button {
    text-align: center;
    background-color: black;
    color: #C8B02E;
    padding: 24px;
}

.button a {
    text-decoration: none;
    color: #C8B02E;
    font-weight: bold;
    padding: 12px;
    transition: 
        background-color 0.7s,
        color 0.7s;
}

.button a:hover {
    background-color: #C8B02E;
    color: white;
    border-radius: 24px;
}

#footer-cards {
    display: flex;
    margin-top: 100px;
    background-color: #2D3990;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card1 {
    text-align: center;
    font-size: 16px;
    padding: 24px;
    background-color: #2D3990;
    color: white;
    border: solid 6px #C8B02E;
    width: 500px;
    flex: 1;
}

.card1 p {
    margin-top: 0px;
    padding: 24px;
}

.card1 h2 {
    margin-bottom: 4px;
    margin-top: 0px;
    border-bottom: #C8B02E solid 2px;
}

.card1 a {
    text-decoration: none;
    color: #C8B02E;
    font-size: 24px;
    background-color: black;
    padding: 12px;
    transition: 
        background-color 0.7s,
        color 0.7s;
    border-radius: 24px;
    font-weight: bold;
}

.card1 a:hover {
    border-radius: 24px;
    background-color: #C8B02E;
    color: black;
}

.card2 {
    text-align: center;
    font-size: 16px;
    padding: 24px;
    background-color: #2D3990;
    color: white;
    border: solid 6px #C8B02E;
    width: 500px;
    flex: 1;
}

.card2 p {
    margin-top: 0px;
    padding: 24px;
}

.card2 h2 {
    margin-bottom: 4px;
    margin-top: 0px;
    border-bottom: #C8B02E solid 2px;
}

.card2 a {
    text-decoration: none;
    color: #C8B02E;
    font-size: 24px;
    background-color: black;
    padding: 12px;
    border-radius: 24px;
    font-weight: bold;
    transition: 
        background-color 0.7s,
        color 0.7s;
}

.card2 a:hover {
    border-radius: 24px;
    background-color: #C8B02E;
    color: black;
}

.card3 {
    text-align: center;
    font-size: 16px;
    padding: 24px;
    background-color: #2D3990;
    color: white;
    border: solid 6px #C8B02E;
    width: 500px;
    flex: 1;
}

.card3 p {
    margin-top: 0px;
    padding: 24px;
}

.card3 h2 {
    margin-bottom: 4px;
    margin-top: 0px;
    border-bottom: #C8B02E solid 2px;
}

.card3 a {
    text-decoration: none;
    color: #C8B02E;
    font-size: 24px;
    background-color: black;
    padding: 12px;
    font-weight: bold;
    transition: 
        background-color 0.7s,
        color 0.7s;
    border-radius: 24px;
}

.card3 a:hover {
    border-radius: 24px;
    background-color: #C8B02E;
    color: black;
}

.copy {
    text-align: center;
    padding: 12px;
    background-color: white;
}

.menu-border {
    background-color: black;
    width: 75%;
    margin-top: 100px;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
}

.menu-border h1 {
    text-align: center;
    color: #2D3990;
    margin: 0px;
    background-color: white;
    padding: 18px;
    font-size: 36px;
}

#menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    margin: 24px auto;
    margin-top: 85px;
}

.menu-content {
    border: #C8B02E solid 4px;
    background-color: #2D3990;
    padding: 24px;
}

.menu-content h2 {
    border-bottom: solid 4px #C8B02E;
    margin: 0px;
    padding: 12px;
    color: white;
    text-align: center;
}

.menu-content h3 {
    padding: 24px;
    font-size: 22px;
    color: white;
    border-bottom: solid 4px #C8B02E;
    vertical-align: middle;
    display: inline;
}

.menu-content p {
    color: white;
    border-bottom: solid 4px #C8B02E;
    padding: 24px;
    vertical-align: middle;
    display: inline;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 24px;
}

.columns p {
    padding: 24px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: #C8B02E solid 4px;
    margin: 0px;
    vertical-align: middle;
    display: inline;
}

.columns h3 {
    border-bottom: #C8B02E solid 4px;
    margin: 0px;
    vertical-align: middle;
    display: inline;
}

.menu-content1 {
    border: solid 4px #2D3990;
    background-color: #C8B02E;
    padding: 24px;
}

.menu-content1 h2 {
    border-bottom: solid 4px #2D3990;
    padding: 12px;
    margin: 0px;
    text-align: center;
}

.menu-content1 h3 {
    padding: 24px;
    font-size: 22px;
    margin: 0px;
    border-bottom: #2D3990 solid 4px;
    vertical-align: middle;
    display: inline;
}

.menu-content1 p {
    border-bottom: #2D3990 solid 4px;
    vertical-align: middle;
    display: inline;
}

.sides  {
    background-color: #C8B02E;
    border: solid 4px #2D3990;
    padding: 24px;
}

.sides h2 {
    border-bottom: #2D3990 solid 4px;
    margin: 0px;
    padding: 12px;
    text-align: center;
}

.sides h3 {
    padding: 24px;
    font-size: 22px;
    margin: 0px;
    border-bottom: #2D3990 solid 4px;
    vertical-align: middle;
    display: inline;
}

.sides p {
    border-bottom: #2D3990 solid 4px;
    vertical-align: middle;
    display: inline;
}

.deserts  {
    background-color: #2D3990;
    border: solid 4px #C8B02E;
    padding: 24px;
}

.deserts h2 {
    color: white;
    border-bottom: #C8B02E solid 4px;
    margin: 0px;
    padding: 12px;
    text-align: center;
}

.deserts p {
    color: white;
    vertical-align: middle;
    display: inline;
}

.deserts h3 {
    padding: 24px;
    font-size: 22px;
    color: white;
    margin: 0px;
    vertical-align: middle;
    display: inline;
}

/* Relative Screen */

@media screen and (max-width: 1100px) and (min-width: 420px) {
    #top-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #bottom-content {
        display: flex;
        flex-wrap: wrap;
    }

    #media-container h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    font-weight: bold;
}

#media-with-text {
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

#media-with-text p {
    padding: 12px;
    text-align: center;
    width: 90vw;
}

#media-with-text img {
    width: 280px;
    padding: 24px;
}

#media {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#media p {
    padding: 24px;
    width: 90vw;
    text-align: center;
}

#media img {
    width: 380px;
    padding: 24px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#footer-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 70vw;
}

.menu-content h3 {
    padding: 18px;
    font-size: 20px;
}

.columns p {
    padding: 18px;
    font-size: 16px;
}

.menu-content1 h3 {
    padding: 18px;
    font-size: 20px;

}

.sides h3 {
    padding: 18px;
    font-size: 20px;

}

.deserts h3 {
    padding: 18px;
    font-size: 20px;
    color: white;

}

.sides {
    grid-area: 4;
}

.deserts {
    grid-area: 3;
}

.menu-border {
    background-color: black;
    width: 95vw;
    margin-top: 100px;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
}

}