/* Drill 1 - Write your code solution below */
#d1-container-1 {
    padding: 36px;
}

/* Drill 2 - Write your code solution below */
#d2-container-1 {
    padding: 48px 24px;
}

/* Drill 3 - Write your code solution below */
#d3-div-1 {
    padding: 12px;
}
#d3-div-2 {
    padding: 12px 48px;
}
#d3-div-3 {
    padding: 12px;
}
/* Drill 4 - Write your code solution below */
div {
    padding: 12px;
}

/* Drill 5 - Write your code solution below */
.d5-container {
    padding: 24px 48px 24px;
    text-align: center;
}
span {
    padding: 24px;
}
