* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/back.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#everything-container {
    margin: 24px auto;
    margin-top: 0px;
}

#hero {
    display: flex;
    background-image: url("../images/Hero.jpg");
    background-size: cover;
    max-width: 1800px;
    margin: 0px auto;
    height: 80vh;
    position: relative;
    border-radius: 24px;
}

#hero span {
    position: absolute;
    top: 20%;
    left: 12%;
    font-size: 80px;
    width: 440px;
    color: #dbdb36;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.623);
    text-align: center;
    border-radius: 90px;
    padding: 12px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1800px;
    margin: 0px auto;
    background-color: burlywood;
    padding: 12px 24px;
    border-radius: 12px;
}

#navbar a {
    text-decoration: none;
    color: black;
}

#logo {
    font-size: 42px;
    font-weight: bold;
}

#link {
    font-size: 24px;
}

h2 {
    margin-top: 100px;
    text-align: center;
    background-color: #5ea3b3;
    padding: 24px;
    font-size: 42px;
    color: white;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    max-width: 1800px;
    margin: 0px auto;
    gap: 48px;
}

#gallery img {
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 24px;
}

#gallery p {
    text-align: center;
    background-color: burlywood;
    padding: 8px 24px;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
}

#cat {
    background-color: #dbdb36;
    color: black;
}

#exotic {
    background-color: #b04040;
    color: white;
}

#wilson {
    text-align: center;
    margin-top: 85px;
    background-color: #5ea3b3;
    padding: 42px;
    margin: 85px auto;
    width: 950px;
    border-radius: 24px;
}

#wilson img {
    width: 100%;
    border-radius: 24px;
}

#wilson p {
    background-color: burlywood;
    font-weight: bold;
    font-size: 24px;
    padding: 12px;
    margin: 0px;
    border-radius: 12px;
}

#adopt {
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 0px;
}

#adopt a {
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 26px;
    color: #5ea3b3;
    background-color: burlywood;
    border-radius: 12px;
    transition: 
        background-color 0.7s,
        color 0.7s;
}

#adopt a:hover {
    color: burlywood;
    background-color: transparent;
    transition: 
        background-color 0.7s,
        color 0.7s;
}

#text {
    border-bottom: 4px solid white;
}

#pepper {
    text-align: center;
    margin-top: 85px;
    background-color: #d8d833;
    padding: 64px;
    margin: 85px auto;
    width: 950px;
    border-radius: 24px;
}

#pepper img {
    width: 100%;
    border-radius: 24px;
}

#pepper p {
    background-color: burlywood;
    font-weight: bold;
    font-size: 24px;
    padding: 12px;
    margin: 0px;
    border-radius: 12px;
}

#adopt1 {
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 0px;
}

#adopt1 a {
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 26px;
    color: #d8d833;
    background-color: burlywood;
    border-radius: 12px;
    transition: 
        background-color 0.7s,
        color 0.7s;
}

#adopt1 a:hover {
    color: burlywood;
    background-color: transparent;
    transition: 
        background-color 0.7s,
        color 0.7s;
}

#lamar {
    text-align: center;
    margin-top: 85px;
    background-color: #b04040;
    padding: 64px;
    margin: 85px auto;
    width: 950px;
    border-radius: 24px;
}

#lamar img {
    width: 100%;
    border-radius: 24px;
}

#lamar p {
    background-color: burlywood;
    font-weight: bold;
    font-size: 24px;
    padding: 12px;
    margin: 0px;
    border-radius: 12px;
}

#adopt2 {
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 0px;
}

#adopt2 a {
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 26px;
    color: #b04040;
    background-color: burlywood;
    border-radius: 12px;
    transition: 
        background-color 0.7s,
        color 0.7s;
}

#adopt2 a:hover {
    color: burlywood;
    background-color: transparent;
    transition: 
        background-color 0.7s,
        color 0.7s;
}

/* relative screen for first page */

@media screen and (max-width: 1200px) and (min-width: 440px) {
    #hero {
        max-width: 850px;
        min-width: 440px;
        height: 40vh;
    }

    #hero span {
        position: absolute;
        top: 20%;
        left: 2%;
        font-size: 30px;
        width: 240px;
    }

    #navbar {
        max-width: 1200px;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #gallery {
        grid-template-columns: 1fr;
        max-width: 1200px;
        min-width: 440px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    #gallery p {
        margin-left: auto;
        margin-right: auto;
    }

    #wilson {
        width: 90vw;
        padding: 34px;
    }

    #wilson p {
        font-size: 16px;
    }
    #pepper {
        width: 90vw;
        padding: 34px;
    }

    #pepper p {
        font-size: 16px;
    }

    #lamar {
        width: 90vw;
        padding: 34px;
    }

    #lamar p {
        font-size: 16px;
    }

    #adopt a {
        font-size: 20px;
    }

    #adopt2 a {
        font-size: 20px;
    }

    #adopt1 a {
        font-size: 20px;
    }
}