@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Domine:wght@400..700&family=Heebo:wght@100..900&family=Kalam:wght@300;400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Maven+Pro:wght@400..900&family=Quintessential&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/back.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#everything-container {
    margin: 24px auto;
    margin-top: 0px;
}

.hero {
    display: flex;
    background-image: url("../images/pexels-madbyte-36372.jpg");
    background-size: cover;
    background-position: center center;
    margin: 0px auto;
    height: 80vh;
}

.hero span {
    position: absolute;
    top: 20%;
    left: 60%;
    font-size: 80px;
    width: 440px;
    color: #dbdb36;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.623);
    text-align: center;
    border-radius: 90px;
    padding: 12px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1600px;
    margin: 0px auto;
}

#navbar {
    background-color: burlywood;
    padding: 12px 24px;
}

#navbar a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

#logo {
    font-family: "Rambla", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    font-weight: bold;
}

#logo i {
    color: #5ea3b3;
}

#link {
    font-size: 24px;
    font-weight: bold;
    font-family: "Rambla", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#link:hover {
    color: white;
    transition: color 0.7s;
    background-color: rgba(0, 0, 0, 0.368);
    border-radius: 8px;
    padding: 2px;
}

h2 {
    margin-top: 100px;
    text-align: center;
    background-color: #5ea3b3;
    padding: 24px;
    font-size: 42px;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    max-width: 1800px;
    margin: 0px auto;
    gap: 48px;
}

#gallery img {
    width: 100%;
    height: 400px;
    margin: 0px;
    border-radius: 24px;
    object-fit: cover;
}

#gallery p {
    text-align: center;
    background-color: burlywood;
    padding: 8px 24px;
    margin: 0px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 12px;
    font-weight: bold;
    font-family: "Rambla", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.dog {
    border: 6px solid black;
    padding: 12px;
    border-radius: 24px;
    background-color: #5ea3b3;
}

.dog a {
    display: block;
    text-align: center;
    padding: 8px 24px;
    text-decoration: none;
    color: #5ea3b3;
    background-color: white;
    margin: 0px auto;
    width: 40%;
    border-radius: 24px;
    margin-top: 3px;
    font-family: "Rambla", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    transition:
        background-color 0.7s,
        color 0.7s;
}

.dog a:hover {
    background-color: #5ea3b3;
    color: white;
}

#cat {
    background-color: #dbdb36;
    color: black;
}

#exotic {
    background-color: #b04040;
    color: white;
}

#wilson {
    text-align: center;
    margin-top: 85px;
    background-color: #5ea3b3;
    padding: 42px;
    margin: 85px auto;
    width: 950px;
    border-radius: 24px;
}

#wilson img {
    width: 100%;
    border-radius: 24px;
}

#wilson p {
    background-color: burlywood;
    font-weight: bold;
    font-size: 24px;
    padding: 12px;
    margin: 0px;
    border-radius: 12px;
}

#adopt {
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 0px;
}

#adopt a {
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 26px;
    color: #5ea3b3;
    background-color: burlywood;
    border-radius: 12px;
    transition:
        background-color 0.7s,
        color 0.7s;
}

#adopt a:hover {
    color: burlywood;
    background-color: transparent;
    transition:
        background-color 0.7s,
        color 0.7s;
}

#text {
    border-bottom: 4px solid white;
}

#pepper {
    text-align: center;
    margin-top: 85px;
    background-color: #d8d833;
    padding: 64px;
    margin: 85px auto;
    width: 950px;
    border-radius: 24px;
}

#pepper img {
    width: 100%;
    border-radius: 24px;
}

#pepper p {
    background-color: burlywood;
    font-weight: bold;
    font-size: 24px;
    padding: 12px;
    margin: 0px;
    border-radius: 12px;
}

#adopt1 {
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 0px;
}

#adopt1 a {
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 26px;
    color: black;
    background-color: burlywood;
    border-radius: 12px;
    transition:
        color 0.7s;
}

#adopt1 a:hover {
    color: #d8d833;
    transition:
        color 0.7s;
}

#lamar {
    text-align: center;
    margin-top: 85px;
    background-color: #b04040;
    padding: 64px;
    margin: 85px auto;
    width: 950px;
    border-radius: 24px;
}

#lamar img {
    width: 100%;
    border-radius: 24px;
}

#lamar p {
    background-color: burlywood;
    font-weight: bold;
    font-size: 24px;
    padding: 12px;
    margin: 0px;
    border-radius: 12px;
}

#adopt2 {
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 0px;
}

#adopt2 a {
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 26px;
    color: #b04040;
    background-color: burlywood;
    border-radius: 12px;
    transition:
        background-color 0.7s,
        color 0.7s;
}

#adopt2 a:hover {
    color: burlywood;
    background-color: transparent;
    transition:
        background-color 0.7s,
        color 0.7s;
}

#everything-container .dropdown-container {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    font-family: "Rambla", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibiltiy 0.5s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu .wilson {
    background-color: burlywood;
}

.dropdown-menu .pepper {
    background-color: burlywood;
}

.dropdown-menu .lamar {
    background-color: burlywood;
}

.dropdown-menu a {
    background-color: darkslateblue;
    width: 100%;
    min-width: 200px;
    padding: 4px 12px;
}

#navbar .dropdown-menu .wilson:hover {
    background: #5ea3b3;
}

#navbar .dropdown-menu .pepper:hover {
    background: #d8d833;
}

#navbar .dropdown-menu .lamar:hover {
    background: #b04040;
}

.footer {
    text-align: center;
    background-color: burlywood;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    margin-top: 50px;
}

.footer h3 {
    margin: 0px;
}

.footer i {
    margin-left: 24px;
    margin-top: 12px;
}

#sign {
    margin: 0px auto;
    margin-top: 10%;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.441);
    border-radius: 50px;
    width: 35%;
    text-align: center;
}

#sign h1 {
    padding: 5px;
    font-size: 50px;
    margin: 0px auto;
}

#textarea {
    margin: 15% 40%;
    width: 20%;
}

.submit a {
    text-align: center;
    text-decoration: none;
    color: #ffe600;
    transition:
        color .7s,
        background-color .7s;
}

.submit a:hover {
    transition:
        color .7s,
        background-color .7s;
    background-color: #ffe600;
    color: #5ea3b3;
}

.submit p:hover {
    background-color: #ffe600;
    transition: background-color .7s;
}

.submit p {
    padding: 5px;
    background-color: #5ea3b3;
    border-radius: 15px;
    transition: background-color .7s;
}

.submit {
    font-size: 30px;
    width: 20%;
    margin: 0px auto;
}

/* relative screen for first page */

@media screen and (max-width: 1600px) and (min-width: 850px) {
    .hero {
        height: 50vh;
    }

    .hero span {
        font-size: 50px;
        width: 30vw;
    }

    #navbar-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 900px;
        margin: 0px auto;
    }

    #navbar a {
        margin: 0px 42px;
    }

    #gallery {
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    #gallery p {
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
    }

    #gallery img {
        width: 100%;
        height: 200px;
    }

    #wilson {
        width: 80vw;
        padding: 34px;
    }

    #wilson p {
        font-size: 22px;
    }

    #pepper {
        width: 90vw;
        padding: 34px;
    }

    #pepper p {
        font-size: 22px;
    }

    #lamar {
        width: 90vw;
        padding: 34px;
    }

    #lamar p {
        font-size: 22px;
    }

    #adopt a {
        font-size: 30px;
    }
}

@media screen and (max-width: 900px) and (min-width: 440px) {
    .hero {
        height: 30vh;
    }

    .hero span {
        font-size: 26px;
        width: 30vw;
    }

    #navbar-content {
        display: flex;
        flex-direction: column;
        width: 450px;
        align-items: center;
    }

    #link {
        margin-left: -20px;
    }

    #gallery {
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #gallery p {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }

    #gallery img {
        width: 100%;
        height: 300px;
    }

    #wilson {
        width: 80vw;
        padding: 34px;
    }

    #wilson p {
        font-size: 16px;
    }

    #pepper {
        width: 90vw;
        padding: 34px;
    }

    #pepper p {
        font-size: 16px;
    }

    #lamar {
        width: 90vw;
        padding: 34px;
    }

    #lamar p {
        font-size: 16px;
    }

    #adopt a {
        font-size: 26px;
    }

    .dropdown-container:hover .dropdown-menu {
        opacity: 0;
        visibility: hidden;
    }

    .dropdown-container i {
        visibility: hidden;
    }
}

@media screen and (max-width: 440px) and (min-width: 300px) {
    .hero {
        height: 22vh;
    }

    .hero span {
        font-size: 18px;
        width: 30vw;
        margin-top: 90px;
    }

    #navbar-content {
        display: flex;
        flex-direction: column;
        width: 280px;
        align-items: center;
    }

    h2 {
        margin-top: 24px;
    }

    #link {
        margin-left: -20px;
    }

    #gallery {
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #gallery p {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }

    #gallery img {
        width: 100%;
        height: 300px;
    }

    #wilson {
        width: 80vw;
        padding: 34px;
    }

    #wilson p {
        font-size: 16px;
    }

    #pepper {
        width: 90vw;
        padding: 34px;
    }

    #pepper p {
        font-size: 16px;
    }

    #lamar {
        width: 90vw;
        padding: 34px;
    }

    #lamar p {
        font-size: 16px;
    }

    #adopt a {
        font-size: 26px;
    }

    .dropdown-container:hover .dropdown-menu {
        opacity: 0;
        visibility: hidden;
    }

    .dropdown-container i {
        visibility: hidden;
    }

}