* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(60deg, silver, red);
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 1250px 250px 1fr;
    grid-template-areas: ". content sidebar .";
    margin: 36px 0px;
    color: #ffff00;
}

#grid-layout p {
    background-color: #4A436B;
    padding: 12px;
}

#sidebar-content {
    grid-area: sidebar;
    padding: 18px;
}

#sidebar-content h2 {
    background-color: lightblue;
    padding: 12px;
    font-size: 18px;
    margin: 0px;
    color: black;
}

#sidebar-content ul {
    background-color: grey;
    border: 1px solid lightskyblue;
    margin: 0px;
    list-style-type: none;
    padding: 0px 12px;
    margin-bottom: 24px;
}

#sidebar-content a {
    text-decoration: none;
    color: lightgreen;
}

#sidebar-content li {
    padding: 8px 0px;
    border-bottom: 1px solid lightcyan;
}

#sidebar-content li:last-child {
    border-bottom: 0px;
}

#main-content {
    grid-area: content;
    margin: 0px 36px;
}

#main-content img {
    width: 800px;
}
#witcher {
    background-color: black;
    text-align: center;
    padding: 8px;
}

#toss {
    background-color: black;
    padding: 8px;
    margin-right: 700px;
    border-radius: 4px;
}

#author {
    background-color: black;
    text-align: center;
    padding: 8px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 4px;
}

#about-content {
    display: grid;
    grid-template-areas: "img p";
    grid-template-columns: 1fr 520px;
}

#about-content #p-1 {
    margin: 0px;
}

#about-content #p-2 {
    margin: 0px;
}

#about-content img {
    grid-area: img;
    width: 658px;
    margin: 0px;
}

#world-content {
    display: grid;
    grid-template-columns: 486px 300px;
    margin: 0px;
}

#world-content img {
    width: 690px;
    margin: 0px;
}

#world-content p {
    margin: 0px;
}
#about {
    background-color: black;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
}

#experience {
    background-color: black;
    padding: 8px;
    text-align: center;
}